div#form-popup
    form#form-container
      h1 New Game
      input#id(type="number", placeholder="ID", name="id")
      input#name(type="text", placeholder="Name", name="name")
      input#platform(type="text", placeholder="Platform", name="platform")
      input#genre(type="text", placeholder="Genre", name="genre")
      input#release_year(type="number" , placeholder="Year", name="release_year")
      input#publisher(type="text", placeholder="Publisher", name="publisher")
      input#developer(type="text", placeholder="Developer", name="developer")
      input#rating(type="text", placeholder="Rating", name="rating")
      button#save-game(type="submit") Save
      button#cancel-btn(type="button") Close